@import 'abstracts/variables';

:host {
    display: block;
    height: 100%; /* Wysokość 100% rodzica (main) */
    background-color: $primary-color;
  }

  @media (max-width: $breakpoint-md) {
    .form-label {
      font-size: smaller; // Nadpisanie rozmiaru czcionki dla etykiet
    }
  }
    @media (max-width: $breakpoint-xs) {
      
    .form-label {
      font-size: x-small; // Nadpisanie rozmiaru czcionki dla etykiet
    }
  }