$primary-color: #F4B500;
$secondary-color: #808080;
$bg-color: #F5F5F5;
$secondary-bg-color: #000000;
$text-color: #000000;
$secondary-text-color: #F5F5F5;
$button-color: #F4B500;
$button-hover-color: darken($button-color, 10%);
$secondary-button-color: #F5F5F5;
$secondary-button-hover-color: darken($secondary-button-color, 10%);
$border-color: #E0E0E0;

// Typography
$font-family-base: 'Arial', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-size-sm: 0.875rem;  // for small screens
$font-size-lg: 1.125rem;  // for large screens

// Breakpoints
$breakpoint-xs: 479px;   // for mobile devices
$breakpoint-sm: 767px;   // for tablets
$breakpoint-md: 1023px;  // for small desktops
$breakpoint-lg: 1270px;  // for larger desktops

$height-breakpoint-md: 768px;

// Container widths
$container-width-sm: 100%;  // full width for mobile
$container-width-md: 960px; // for tablets
$container-width-lg: 1140px; // for desktops

// Navbar settings
$navbar-height: 60px;