<main>
  <div class="main-content">
    <!-- <div class="highlight-stripe"></div> -->
    <div class="image-container">
      <img src='code.jpeg' alt="Obrazek kodu">
    </div>
    <div class="text-overlay">
      <h1>Witaj w FBE Solutions!</h1>
      <p>Oferujemy profesjonalne usługi w zakresie rozwoju oprogramowania i rozwiązań IT. Zaufaj naszym ekspertom i sprawdź, co możemy dla Ciebie zrobić.</p>
      <button type="button" (click)="alert()" class="btn btn-primary">Sprawdź ofertę</button>
    </div>
  </div>
  </main>
